# Python
__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/

# Virtual environments
.venv/
venv/
.env

# macOS
.DS_Store

# Streamlit
.streamlit/

# Generated audio
audio/*
!audio/.gitkeep

*.wav
*.mp3

# Piper voice models
models/voices/*
!models/voices/.gitkeep